<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="box">
        <h1>The temperature in <%= location %> is <%= weatherTemp %> Degree Celcius</h1>
        <img src="<%= weatherImg %>" alt="weather img" class="temp-img">
        <p >The weather is currently <%= weatherDes %></p>
    </div>
    
</body>
</html>